<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:persistent="true"
    android:sharedUserId="android.uid.system"
    package="com.thinkrace.watchservice">

    <!-- 网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" /> <!-- 基站 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <!-- 读写 -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 手机设置 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 账户相关 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <!-- 开机自启动 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 连续广播（允许一个程序收到广播后快速收到下一个广播） -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 操作联系人 -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 操作关机 -->
    <uses-permission android:name="android.permission.SHUTDOWN"
        tools:ignore="ProtectedPermissions" />

    <!-- 安装应用 -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />

    <application
        android:name=".KApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- =====================高德地图相关 begin ===================== -->
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f61f11bfcbfae6b36fad2587e0280b85"/>

        <!-- =====================高德地图相关 end ===================== -->

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.thinkrace.watchservice.orderlibrary.call.CallFragmentActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".orderlibrary.LocationService" android:exported="true">
            <intent-filter>
                <action android:name="com.thinkrace.watchservice.orderlibrary.LocationService" />
            </intent-filter>
        </service>

        <receiver android:name=".receiver.CommonAlarmReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="com.thinkrace.intent.ACTION_ALARM_LOCATION_START" />
                <action android:name="com.thinkrace.intent.ACTION_ALARM_LOCATION_STOP" />
                <action android:name="com.thinkrace_request.ACTION_WEATHER" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.thinkrace.intent.ACTION_ALARM_CONFIRMED_FREQUENCY_UPLOAD" />
                <action android:name="com.thinkrace.ACTION_AP04" />
                <action android:name="com.thinkrace.ACTION_AP07" />
                <action android:name="com.thinkrace.ACTION_AP42" />
                <action android:name="com.thinkrace.ACTION_AP46" />
                <action android:name="com.thinkrace.ACTION_APNS" />
                <action android:name="com.thinkrace.ACTION_APCL" />
                <action android:name="com.thinkrace.ACTION_APCL_ID" />
                <action android:name="com.thinkrace.ACTION_APTD" />
                <action android:name="com.thinkrace_broadcast.REQUEST_VOICE_LIST" />
                <action android:name="com.thinkrace_broadcast.VOICE_UPDATE_READ" />
                <action android:name="com.thinkrace.ACTION_APT4" />
                <action android:name="com.thinkrace_broadcast.ACTION_CALL_EMERGENCY" />
                <action android:name="com.thinkrace_broadcast.ACTION_URL_WHITELIST" />
                <action android:name="com.thinkrace.ACTION_BP26" />
                <action android:name="com.thinkrace.ACTION_BP31" />
                <action android:name="com.thinkrace.ACTION_BPD2" />
                <action android:name="com.thinkrace.ACTION_BPD5" />
                <action android:name="com.thinkrace.ACTION_BPD6" />
                <action android:name="com.thinkrace.ACTION_BPD7" />
                <action android:name="com.thinkrace.ACTION_BPD9" />
                <action android:name="com.thinkrace.ACTION_BPDA" />
                <action android:name="com.thinkrace.ACTION_APCU" />
                <action android:name="com.thinkrace.ACTION_BP27" />
                <action android:name="com.thinkrace.ACTION_APT3" />
                <action android:name="com.thinkrace.ACTION_APRF" />
                <action android:name="com.thinkrace.ACTION_BPNS" />
                <action android:name="com.thinkrace.ACTION_REQUEST_FRIEND" />
                <action android:name="com.thinkrace.ACTION_CURRICULUM_FORBIDDEN" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.VoiceFileReceiver" >
            <intent-filter>
                <action android:name="BPCD" />
                <action android:name="BP28" />
                <action android:name="AP95" />
                <action android:name="BP95" />
                <action android:name="BP96" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.GuardAlarmReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.SET_GUARD_ALARM_START" />
                <action android:name="android.intent.action.SET_GUARD_ALARM_END" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.BootCompletedReceiver" >
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.ClassForbiddenAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SET_CLASSFORBIDDEN_ALARM_START" />
                <action android:name="android.intent.action.ACTION_SET_CLASSFORBIDDEN_ALARM_STOP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>